* {
  box-sizing: border-box;
}

main {
  margin-top: 80px;
  margin-bottom: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  background-color: beige;
  border: solid 2px;
  border-left: none;
  border-right: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.container {
  align-self: center;
  width: 80%;
  display: flex;
  position: relative;
  flex-direction: column;
  border: solid 2px;
  background-color: bisque;
  height: 350px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.questionbookmark {
  position: absolute;
  top: -20px;
  right: 20px;
  margin: 0;
  width: 64px;
  height: 64px;
}

.question01 {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.answer {
  height: 30px;
}

.tags_container {
  margin: 0;
  margin-left: 2%;
  display: flex;
  align-self: flex-start;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.tag {
  border: solid 1px;
  margin: 0;
  padding: 4px 8px 4px 12px;
  background-color: lightsteelblue;
}

.footer_container {
  background-color: beige;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border: solid 2px;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.footer_home {
  fill: black;
  transition: fill 0.5s ease-in-out;
}

.footer_bookmark {
  fill: black;
  transition: fill 0.5s ease-in-out;
}

.footer_profile {
  fill: black;
  transition: fill 0.5s ease-in-out;
}

.footer_home:hover {
  fill: transparent;
  stroke: black;
}

.footer_bookmark:hover {
  fill: transparent;
  stroke: black;
}

.footer_profile:hover {
  fill: transparent;
  stroke: black;
}

.site-start {
  margin: 40px;
}

.site-end {
  margin: 30px;
}
