.form {
  width: 80%;
  border: solid 2px;
  background-color: var(--color3);
  height: 240px;
  margin-bottom: 30px;
}

.form__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.form__field {
  margin: 0;
  border: solid 2px;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form--inputquestion {
}

.form--inputanswer {
}

.form--submitbutton {
}
